.sect{
    background-color: var(--color-darktest);
    border-radius:  var(--border-radius-primary);
    padding:var(--padding-primary);
    margin-top: var(--margin-primary);
    display: flex;

}


.popular-itemm {
    width: 100%; 
  }


.card-wrapperr{
    width: 100%;
    padding:calc(var(--padding-primary)/4) ;
    border-radius:calc(var(--border-radius-primary));

}

@media (max-width: 768px) {
    .sect {
      flex-direction: column; 
    }
  
    .col-lg-8 {
      width: 100%; 
    }
    
    .col-lg-4 {
      width: 100%;
      margin-top: 2rem; 
    }
  }

.card-wrapperr:hover{
    transform:scale(1.1);

}
  





.item-titlee{
    font-size: 20px;
    padding-left: var(--padding-primary);
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}
.under-line{
  text-decoration: underline;
}


.icS{
    color:yellow
}

.icD{
    color: powderblue;
}


.sidebar{
    background-color: var(--color-darktest);
    border-radius: var(--border-radius-primary);
    padding:calc(var(--padding-primary)/2) ;
    margin-top: 6rem; 
}

.headee{
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-familt-primary);
}

.str{
  background-color: var(--color-darktest);
  border-radius:  var(--border-radius-primary);
  padding:var(--padding-primary);
  margin-top: var(--margin-primary);
  display: flex;
}

.titl{
  margin: var(--margin-primary);
  text-align: center;
}
.streami{
  display: flex;
}
