.gaming-libary-cards{
   display: flex; 
    flex-wrap: wrap;
}



@media (max-width: 768px) {
    .gam-title {
        text-align: center;
    }
    .gam-title h1 {
        margin-bottom: 0; 
      }
}
