:root{
  --color-dark:#27292e;
  --color-darktest:#1f2122;
  --color-light:#fff;
  --color-primary:#ec6090;
  --font-familt-primary:'Poppins', sans-serif;

  --distance-primary:50px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --border-radius-primary:calc(var(--distance-primary)/2);

  --font-family-primary:'Poppins',sans-serif;
  --font-weight-bold:900;
  --font-weight-normal:400;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body{
  background-color:var(--color-darktest) !important;
  font-family:var(--font-familt-primary)  !important ;

}

ul{
  list-style-type: none;

}

a{
  text-decoration: none;
}